<!DOCTYPE html>
<html lan="en">
<head>

	{% block title %}<title>Simple Energy</title>{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1 style="text-align:center">{% block headline %}{% endblock %}</h1>
	<div style="margin-left:80px;margin-top:20px;">
	{% block content %}
	{% endblock %}
	</div>
	{% block pagination %}
		{% if is_paginated %}
			<div class="pagination" style="margin-left:20px;margin-top:20px">
				<span class="page-links">
					{% if page_obj.has_previous %}
						<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}
					<span class="page-current">
						 {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}	
					</span>
					{% if page_obj.has_next %}
						<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
	{% endblock %}
	<br>
	<hr>
	<footer>
		<a style="display:block;text-align:center" href="{% url 'index' %}">Home</a>
	</footer>
</body>