{% extends "base.html" %}

{% block headline %}Simple Energy{% endblock %}
{% block content %}
	<ul>
		<li><a href="/users/">See all users</a></li>
		<li><a href="/log/">See all logs</a></li>
		<li><a href="/users/new/">Create a new user</a></li>
		<li><a href="/log/replay/">Replay a log</a></li>
	</ul>
{% endblock %}