{% extends "base.html" %}

{% block headline %}User Logs{% endblock %}
{% block content %}
	{% if user_logs %}
		{% for user_log in user_logs %}
			<p><strong>Log Id: {{ user_log.id }}</strong></p>
			<p>User Id: {{ user_log.user_id }}</p>
			<p>Action: {{ user_log.action }}</p>
			<p>Attributes: <a href="{{ user_log.attributes }}">{{ user_log.attributes }}</a></p>
			<p>Created At: {{ user_log.created_at }}</p>
		{% endfor %}
	{% else %}
		<p>There are no logs for this user.</p>
	{% endif %}
{% endblock %}