{% extends "base.html" %}

{% block headline %}Logs{% endblock %}
{% block content %}
	{% if log_list %}
		<ul>
			{% for log in log_list %}
			<li>
				Id {{ log.id }}: <a href="{{ log.user_id }}">User {{ log.user_id }}</a> - Action: {{ log.action }} - Attributes: {{ log.attributes }} - {{ log.created_at }}
			{% endfor %}
		</ul>
		{% else %}
			<p>There are no logs.</p>
	{% endif %}
{% endblock %}