{% extends "base.html" %}

{% block headline %}Simple Energy Users{% endblock %}
{% block content %}
	{% if users_list %}
		<ul>
			{% for user in users_list %}
			<li>
				<a href="{{ user.get_browser_url }}">ID {{ user.id }}</a> - Name: {{ user.name }} - Email: {{ user.email }} - {{ user.created_at }} - {{ user.updated_at }}
			{% endfor %}
		</ul>
		{% else %}
			<p>There are no users.</p>
	{% endif %}
{% endblock %}