{% extends "base.html" %}

{% block headline %} User details{% endblock %}
{% block content %}
	<div style="margin-left:20px;margin-top:20px">
		<p>Name: {{ user.name }}</p>
		<p>Email: {{ user.email }}</p>
		<p>Updated At: {{ user.updated_at }}</p>
		<p>Created At: {{ user.created_at }}</p>
		<hr>
		<h2>Edit User</h2>
		<form action="" method="post">{% csrf_token %}
			{{ form.as_p }}
		<input type="submit" value="Update" />
		</form>
	</div>
{% endblock %}